body{
	background-image: url(../images/nevadaRoad.jpg);
	/*background-repeat: no-repeat;*/
	background-size: 100%, 75%;
	background position: fixed;
}

header{
	font-size: 60px;
	text-align: center;

}

/*p{
	color: blue;
	font-size: 30px;
} */

button{
	background-color: black;
	color:yellow;
	font-size: 25px;
	clear: both;

}

#search{
	width: 200px;
	padding: 7px;
	border: 2px, solid, black;
	margin-top: 15px;
}
#searchBtn{
	padding: 8px;
	color: 	#7FFF00;
	background: black;
	border: 2px, solid, black;
	margin-left: -5px;
	margin-top: 15px;
	font-size: 14px;
	width: 120px; 
};


.item{
	float: left;
	width:300px;
	margin: 10px;
} 

